:root{
    --bg: #e0e5ec;
    --hl: #eb4a00;
    --hlf: #ff6017;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    user-select: none !important;
    scroll-behavior: smooth;
}
::selection{
    background-color: var(--hl);
    color: #fff;
}
html,
body,
#site{
    background-color: var(--bg);
}
#site{
    animation: slide-in .7s;
}
@keyframes slide-in{
    from{
        opacity: 0;
        scale: .97;
    }
    55%{
        scale: 1.02;
    }
    70%{
        scale: .99  ;
    }
}