#form-insert-new-active input{
    background-color: var(--bg);
    border: none;
    outline: none;
    transition: .55s;
    cursor: pointer;
    &:hover,
    &:hover::placeholder,
    &:focus::placeholder{
        color: var(--hlf);
        transition: .55s;
    }
}
#form-insert-new-active button,
.main-board-tickets-form-view button{
    width: 100%;
    background-color: var(--bg);
    color: #000;
    box-shadow:
        -5px 0 5px #fff,
        0 -5px 5px #fff,
        5px 0 5px #ccc,
        0 5px 5px #ccc;
    border: none;
    border-radius: 9px;
    outline: none;
    cursor: pointer;
    transition: .15s;
    &:focus{
        scale: .95;
        box-shadow:
            -9px 0 5px #fff,
            0 -9px 5px #fff,
            inset 5px 5px 5px #ccc,
            inset -5px -5px 5px #fff,
            9px 0 5px #ccc,
            0 9px 5px #ccc;
        transition: .5s;
    }
}
#system-out-data{
    height: 100vh;
    padding: 2em;
    box-shadow:
        inset 20px 20px 5px #ccc,
        inset -20px -20px 5px #fff;
}
#system-out-data > div{
    padding: 1em;
    height: calc(100vh - 4em);
    box-shadow:
        -9px 0 5px #fff,
        0 -9px 5px #fff,
        inset 9px 9px 9px #ccc,
        inset -9px -9px 9px #fff,
        9px 0 5px #ccc,
        0 9px 5px #ccc;
    border-radius: 18px;
    animation: slide-in-div .8s;
}
@keyframes slide-in-div{
    from{
        opacity: 0;
        translate: -75% 0;
        scale: .5;
    }
    50%{
        translate: 1.5em 0;
        scale: .5;
    }
}
#system-out-data > div > div{
    padding: 1.5em;
    height: calc(100vh - 6em);
    box-shadow:
        -5px -5px 5px #fff,
        5px 5px 5px #ccc;
    border-radius: .5em;
    overflow-y: auto;
}
#current-logged-user{
    padding: .75em 2em;
    color: var(--hl);
    font-size: 1em;
    font-weight: 600;
    font-style: italic;
    text-align: right;
    box-shadow:
        inset 2px 5px 3px #ccc,
        inset -2px -5px 3px #fff;
    border-radius: 3em;
}
.section-instructions{
    margin: 1.75em 0 0;
    font-size: 1.1em;
    font-weight: 400;
}
#form-insert-new-active{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5em;
}
#form-insert-new-active input,
#form-insert-new-active button{
    margin: 1.25em 0;
    padding: .5em;
    width: 100%;
    font-size: 1em;
    display: block;
}
#form-insert-new-active input{
    box-shadow:
        -5px 0 5px #fff,
        0 -5px 5px #fff,
        5px 0 5px #ccc,
        0 5px 5px #ccc;
    border-radius: 5px;
    transition: .55s;
    &:focus{
        color: var(--hl);
        box-shadow:
            -9px 0 5px #fff,
            0 -9px 5px #fff,
            inset 5px 5px 5px #ccc,
            inset -5px -5px 5px #fff,
            9px 0 5px #ccc,
            0 9px 5px #ccc;
        transition: .55s;
    }
}
#result-log-message{
    display: none;
    font-weight: 800;
}
#system-out-data a{
    color: var(--hl);
    text-decoration: none;
}
#ticket-builder-form input,
#ticket-builder-form textarea{
    margin: 1.5em 0;
    padding: .5em 1em;
    width: 100%;
    display: block;
    background-color: var(--bg);
    border: none;
    outline: none;
    box-shadow:
        -5px -5px 5px #fff,
        5px 5px 5px #ccc;
    border-radius: 10px;
    font-size: 1em;
}
#ticket-builder-form textarea{
    height: 12vh;
    resize: none;
}
#ticket-builder-form p{
    padding-top: .75em;
}
#tbf-file-upload-btn::-webkit-file-upload-button{
    margin: .25em 1.5em .25em 0;
    padding: .5em 1.5em;
    background-color: var(--bg);
    box-shadow:
        -5px -5px 5px #fff,
        5px 5px 5px #ccc;
    border-radius: 9px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .25s;
}
#tbf-file-upload-btn::-webkit-file-upload-button:hover{
    color: var(--hl) !important;
}
#tbf-file-upload-btn::-webkit-file-upload-button:focus{
    box-shadow:
        -5px -5px 5px #fff,
        inset 5px 5px 5px #ccc,
        inset -5px -5px 5px #fff,
        5px 5px 5px #ccc;
}
.input-file-charged::-webkit-file-upload-button{
    color: var(--hl) !important;
}
#read-only-for-logged-username{
    color: #333;
}
#read-only-for-logged-username::selection{
    background-color: var(--bg);
    color: #333;
}
#tbf-priority-options{
    margin-left: 1em;
    padding: .5em 1em;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow:
        -5px -5px 5px #fff,
        5px 5px 5px #ccc;
    cursor: pointer;
}
#tbf-priority-options,
#tbf-priority-options option{
    background-color: var(--bg);
    font-size: 1em;
}
.lightbulb{
    margin-left: 1em;
    padding: 0 .35em;
    border-radius: 1em;
}
#tbf-bttns{
    padding: 1.5em 0;
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}
#tbf-bttns button{
    padding: 1em;
    width: 100%;
    font-size: 1em;
    box-shadow:
        -5px -5px 5px #fff,
        5px 5px 5px #ccc;
    border-radius: 5px;
    &:hover{
        color: var(--hl);
    }
    &:focus{
        color: var(--hl);
        box-shadow:
            -5px -5px 5px #fff,
            inset 5px 5px 5px #ccc,
            inset -5px -5px 5px #fff,
            5px 5px 5px #ccc;
    }
}
.main-board-tickets-form-view{
    margin: 2.25em 0;
    padding: 1.5em;
    box-shadow:
        -9px 0 5px #fff,
        0 -9px 5px #fff,
        9px 0 5px #ccc,
        0 9px 5px #ccc;
    border-radius: 18px;
}
.mbtfv-grid-view{
    display: grid;
    grid-template-columns: 1fr 20%;
}
.mbtfv-grid-view-data{
    display: grid;
    grid-template-areas:
        "picture header header header header"
        "picture from assigned priority datetime";
}
.mbtfv-grid-view-data *{
    font-size: 1em;
}
.grid-area-1{
    margin: 0 1em;
    padding: 1em;
    grid-area: picture;
    align-self: center;
    justify-self: left;
    box-shadow:
        inset 5px 5px 5px #ccc,
        inset -5px -5px 5px #fff;
    border-radius: 50%;
}
.mbtfv-grid-view-data span{
    color: #88320a;
    font-weight: 700;
}
.grid-area-2{
    grid-area: header;
}
.mbtfv-grid-view-data .grid-area-2 input{
    background-color: var(--bg);
    border: none;
}
.grid-area-3{
    grid-area: from;
}
.grid-area-4{
    grid-area: assigned;
}
.grid-area-5{
    grid-area: priority;
}
.grid-area-6{
    grid-area: datetime;
}
.main-board-tickets-form-view img{
    height: 1.5em;
    border-radius: 50%;
}
.mbtfv-grid-view-btn{
    display: flex;
    align-items: stretch;
}
.mbtfv-grid-view-btn button{
    padding: .65em 0;
    color: var(--hl);
    font-size: 1.25em;
    font-weight: 600;
}
#save-ticket-changes-box table{
    width: 100%;
    padding: 2em;
}
#save-ticket-changes-box table td{
    padding: .5em;
    margin: 1em;
    min-width: 15em;
    box-shadow:
        0 -3px 3px #fff,
        0 3px 3px #ccc;
}